%h2 Thank you for your purchase
%ul
  - @goods.each do |good|
    %li
      - item = Product.find good[0]
      = "#{item.name}--->"
      = good[1]
      X
      = item.price
      is
      =  good[1].to_f.round(2) * item.price.to_f.round(2) 
      - @run += good[1] * item.price
  %p= "#{params[:first_name]} #{params[:last_name]}"
  %p= "#{params[:street]} #{params[:city]} #{@customer.province.name}"
  %li
    - gst = @gst
    - pst = @pst
    - hst = @hst
    - sub_total = @run.round(2)
    - gst_amount = (sub_total * gst).round(2) 
    - pst_amount = (sub_total * pst).round(2) 
    - hst_amount = (sub_total * hst).round(2) 
    - final_total = sub_total + gst_amount + pst_amount + hst_amount
  %fieldset
    %h1= "Sub Total: #{sprintf("$%.2f", sub_total)}" 
    %h1= "PST #{(pst * 100).round(2)}%: #{sprintf("$%.2f", pst_amount)} " unless gst.zero?
    %h1= "GST #{(gst * 100).round(2)}%: #{sprintf("$%.2f", gst_amount)} " unless pst.zero?
    %h1= "HST #{(hst * 100).round(2)}%: #{sprintf("$%.2f", hst_amount)} " unless hst.zero?
    %h1= "Grand Total: #{sprintf("$%.2f",final_total)} "
- session.delete(:shopping_cart)