%li
  %fieldset
    %b= product.name
    = " $#{product.price}"
    %br
    = product.category.name
    %br 
    - if product.quantity_on_hand == 0 
      Out of stock
    - else
      = link_to "put in cart", purchase_path(id: product, :q => '1'), :method=> :post
  