<!DOCTYPE html>
<html>
	<head>
	  <title>Elmhoodskates</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	  <%= favicon_link_tag 'skull.gif' %>
	</head>
	<body>
		<div id="wrapper">
			<header>
				<h1>Railing some rubies</h1>
				<div id="banner">
					<%= image_tag "rails.png" %>
				</div>
			</header>
			
			<section>
				<%= yield %>
			</section>
			<aside>
				<%= link_to 'Active Admin', "/admin" %>
			</aside>
			
			<footer>
				<p>Placeholder footer.</p>
			</footer>
		</div>
	</body>
</html>
